<ion-header [translucent]="true">
  <ion-toolbar color="newbg">
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="icon-only" name="dice"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title slot="start">DADOS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="realbg">
  <!--camera-controls-->
  <ion-card>
    <ion-card-header>
      <div>
        <ion-button (click)="rollDice()">
          <ion-icon name="dice" slot="end"></ion-icon>
          RODAR
        </ion-button>
      </div>
    </ion-card-header>
    <ion-item>
      <model-viewer id="viewer" class="viewer" src="assets/Dice.glb" ios-src="assets/Dice.glb" camera-controls interpolation-decay="50" camera-orbit="0deg 0deg"></model-viewer>
    </ion-item>
    <ion-item>
      <ion-label>RESULTADO: <strong>{{result}}</strong></ion-label>
    </ion-item>
  </ion-card>
</ion-content>
