<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-card-content slot="start">
      <ion-icon name="dice"></ion-icon>
      <ion-title>RPG Dice Roller</ion-title>
    </ion-card-content>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment value="tabletop">
      <ion-segment-button value="tabletop" (click)="switchSegment($event)">
        TABLETOP
      </ion-segment-button>
      <ion-segment-button value="history" (click)="switchSegment($event)">
        ROLL HISTORY
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="darker">

  <ion-grid *ngIf="currentSegment === 'tabletop'">

    <ion-list>
      <ion-card *ngFor="let dice of diceData">
        <ion-avatar>
          <img [src]="dice.image">
        </ion-avatar>
        <ion-label>{{dice.name}}</ion-label>
        <ion-button fill="outline" (click)="rollDice(dice)">ROLL</ion-button>
      </ion-card>
    </ion-list>

    <div class="footer">
      <ion-row>
        <ion-item>
          <ion-button fill="outline" slot="start" shape="round" (click)="switchDices(1)">+</ion-button>
          <ion-label>{{dices}}d</ion-label>
          <ion-button fill="outline" slot="end" shape="round" (click)="switchDices(-1)">-</ion-button>
        </ion-item>
        <ion-item>
          <ion-button fill="outline" slot="start" shape="round" (click)="switchIncrement(1)">+</ion-button>
          <ion-label>+{{increment}}</ion-label>
          <ion-button fill="outline" slot="end" shape="round" (click)="switchIncrement(-1)">-</ion-button>
        </ion-item>
      </ion-row>
    </div>
  </ion-grid>

  <ion-grid *ngIf="currentSegment === 'history'">

    <ion-list>
      <ion-button id="historyButton" (click)="clearHistory()">CLEAR HISTORY</ion-button>
      <ion-card *ngFor="let history of historyData">
        <ion-avatar class="fill-width" *ngIf="history.value.diceImage">
          <img [src]="history.value.diceImage">
        </ion-avatar>
        <ion-label class="dice-type"><strong>{{history.value.type}}</strong></ion-label>
        <ion-label>{{history.value.value}}</ion-label>
      </ion-card>
    </ion-list>

  </ion-grid>

</ion-content>