@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Nuosu+SIL&display=swap');

model-viewer {
  height: 50vh;
  margin-left: auto;
  margin-right: auto;
}

ion-card-header {
  div {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 5px;
  }
}

ion-toolbar {
  ion-icon {
    scale: 2.5;
  }
  ion-card-content {
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: center;
    flex-direction: row;
  }
}

ion-thumbnail {
  width: 100%;
}

ion-avatar {
  img {
    filter: brightness(0) invert(1);
  }
}

.footer {
  position: fixed;
  bottom: 0;
}

ion-row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  width: 100vw;
  margin-bottom: 20px;
  ion-item {
    border-radius: 5rem;
  }
}

.dice-type {
  font-size: 1rem;
}

ion-list {
  background-color: rgba(34, 34, 34, 0);
  ion-card {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    height: 5.6rem;
    margin-bottom: 15px;
    ion-label {
      margin-left: 15px;
    }
  }
}

div {
  ion-card {
    ion-item {
      height: 38vh;
    }
  }
}

.dice-element {
  width: 100px;
  height: 100px;
}
